@use "sass:math";
$angle: math.random(-5, 5);
@import "../../assets/stylesheets/all.scss";

.sample {
  @include grid-col();
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: $text-dark;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.sample--askew {
  // Generate a random angle between -5 and 5 degrees
  transform: rotate(#{$angle}deg);
}
