@import "../../assets/stylesheets/all.scss";

.hero {
  @include container();
  color: white;
  display: flex;
  align-items: center;
  gap: 100px;
  overflow: visible;
  height: 100vh;
}

.hero__image-frame {
  padding: 20px;
  padding-bottom: 80px;
  background-color: white;
  border-radius: 6px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  animation: transformAnimation 0.3s ease-in;
  position: relative;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  transform: scale(1) rotate(-10deg);
}

.hero__image {
  height: 500px;
}

.hero__content {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  line-height: 1;
}

.hero__title {
  color: black;
  position: absolute;
  z-index: 1000000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}

@keyframes transformAnimation {
  from {
    transform: scale(2) rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(-10deg);
    opacity: 1;
  }
}
