.bokeh-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #040302; // Default color

  // Add vignette effect
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 1; // Ensure it overlays the bokeh circles
  }
}

.bokeh-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #ff0000;
  animation: float 20s linear infinite;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw);
  }
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Additional styles to randomly position and size the circles */
.bokeh-circle {
  width: 100px;
  height: 100px;
  top: calc(100% * var(--i));
  left: calc(100% * var(--j));
  opacity: calc(0.1 + 0.9 * var(--k));
  animation-duration: calc(10s + 10s * var(--l));
}
